body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  /* From uiverse.io by @alexruix */
  .card-normal {
    width: 60vw;
   
    -webkit-box-shadow: 10px 7px 66px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 7px 66px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 7px 66px 0px rgba(0,0,0,0.75);
  
    padding: 1.9rem 1.2rem;
    text-align: center;
    background: #ffffff;
   }
   
   /*Inputs*/
   .field {
    margin:0.5rem;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5em;
    background-color: #060606;
    border-radius: 4px;
    padding: .5em 1em;
    
   }
   
   .input-icon {
    height: 2em;
    width: 1em;
    fill: #ffeba7;
  
   }
   
   .input-field {
    background: none;
    
    border: none;
    outline: none;
    width: 100%;
    color: #d3d3d3;
   }
   
   /*Text*/
   .title {
    margin-bottom: 1rem;
    font-size: 2em;
    font-weight: 800;
    color: #000000;
   }
   
   /*Buttons*/
   .btn {
    margin: 1rem;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    font-size: .8em;
    text-transform: uppercase;
    padding: 0.6em 1.2em;
    background-color: #ffeba7;
    color: #5e6681;
    box-shadow: 0 8px 24px 0 rgb(255 235 167 / 20%);
    transition: all .3s ease-in-out;
    cursor: pointer;
   }
   
   .btn-link {
    color: #f5f5f5;
    display: block;
    font-size: .75em;
    transition: color .3s ease-out;
   }
   
   /*Hover & focus*/
   .field input:focus::placeholder {
    opacity: 0;
    transition: opacity .3s;
   }
   
   .btn:hover {
    background-color: #5e6681;
    color: #ffeba7;
    box-shadow: 0 8px 24px 0 rgb(16 39 112 / 20%);
   }
   
   .btn-link:hover {
    color: #ffeba7;
   }
   .App{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
   }
   span{
    display: block;
   }
  
   .container{
    width: 50%;
    height: 50vh;
    -webkit-box-shadow: 10px 7px 66px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 7px 66px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 7px 66px 0px rgba(0,0,0,0.75);
  
   }
   p{
    font-size: small;
    color: red;
   }
   
.logo{
  color: #FFFFFF;
  text-shadow: #e0e0e0 1px 1px 0, 2px 2px 2px rgba(255,255,255,0), 2px 2px 2px rgba(255,255,255,0);
font-size: 900;
font-weight: 900;
}  
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.card{
  width: 18rem;
  aspect-ratio: 3/4;
 
  margin: 1rem;
}
.card-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  
}
.order-link{
  list-style: none;
  font-size: large;
  font-weight: 900;
}
.btn-btn {
  margin: 1rem;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  font-size: .8em;
  text-transform: uppercase;
  padding: 0.6em 1.2em;
  background-color: #ff0000;
  color: #ffffff;
  box-shadow: 0 8px 24px 0 rgb(255 235 167 / 20%);
  transition: all .3s ease-in-out;
  cursor: pointer;
 }